<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.whserver.mybatis.dao.SystemInfoMapper">
  <resultMap id="BaseResultMap" type="com.wh.whserver.mybatis.pojo.SystemInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sys_name" jdbcType="VARCHAR" property="sysName" />
    <result column="detial" jdbcType="VARCHAR" property="detial" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="opttime" jdbcType="TIMESTAMP" property="opttime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_name, detial, user_id, opttime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.wh.whserver.mybatis.pojo.SystemInfo" useGeneratedKeys="true">
    insert into system_info (sys_name, detial, user_id, 
      opttime)
    values (#{sysName,jdbcType=VARCHAR}, #{detial,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, 
      #{opttime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.wh.whserver.mybatis.pojo.SystemInfo" useGeneratedKeys="true">
    insert into system_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="detial != null">
        detial,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="opttime != null">
        opttime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="detial != null">
        #{detial,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="opttime != null">
        #{opttime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.whserver.mybatis.pojo.SystemInfo">
    update system_info
    <set>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="detial != null">
        detial = #{detial,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="opttime != null">
        opttime = #{opttime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.whserver.mybatis.pojo.SystemInfo">
    update system_info
    set sys_name = #{sysName,jdbcType=VARCHAR},
      detial = #{detial,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      opttime = #{opttime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>